@model X.PagedList.IPagedList<UserManagementWebApp.Models.User>
@using X.PagedList;
@using X.PagedList.Mvc;
@using X.PagedList.Mvc.Core;


<table class="table custom-table-borders">
    <thead class="custom-table-header">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-info btn-sm" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

<div id="pager">
    @Html.PagedListPager(
 Model, page => Url.Action("Index", new { page }),
 PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "tableContainer" }))
</div>


